openapi: 3.2.0
info:
  title: dxFeed Fundamentals History Controller API
  description: '* [dxFeed Website](https://www.dxfeed.com/)

    * [Knowledge Base: Fundamentals](https://kb.dxfeed.com/en/data/fundamentals.html)

    * [Customer Ticket Portal](https://portal.dxfeed.com/)

    * [Contact the dxFeed sales team](https://dxfeed.com/contact-sales/)

    '
servers:
- url: https://tools.dxfeed.com/fs
  description: Generated server url
tags:
- name: history-controller
paths:
  /v0.1/history/filter:
    get:
      tags:
      - history-controller
      operationId: getByFilter_2
      parameters:
      - name: types
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
          uniqueItems: true
      - name: fromYmd
        in: query
        description: Filter out the results based on from-to period. Start date of the period in yyyymmdd format. Note that max allowed time period is usually limited, depending on your permissions.
        required: true
        schema:
          type: string
          description: request from date in yyyymmdd format, inclusive
      - name: toYmd
        in: query
        description: Filter out the results based on from-to period. End date of the period in yyyymmdd format. Note that max allowed time period is usually limited, depending on your permissions.
        required: true
        schema:
          type: string
          description: request to date in yyyymmdd format, inclusive
      - name: currencyCode
        in: query
        description: Filter out the results based on currency codes from Instrument Reference. ISO three-character code.
        required: false
        schema:
          type: string
      - name: countryCode
        in: query
        description: Filter out the results based on country codes from Instrument Reference. ISO three-character code.
        required: false
        schema:
          type: string
      - name: sids
        in: query
        description: Filter out the results based on instrument security ids from Instrument Reference.
        required: false
        schema:
          type: array
          items:
            type: string
          uniqueItems: true
      - name: cids
        in: query
        description: Filter out the results based on company ids from Instrument Reference.
        required: false
        schema:
          type: array
          items:
            type: string
          uniqueItems: true
      - name: sicCodes
        in: query
        description: Filter out the results based on sic (Standard Industrial Classification) codes from Asset Classification. Will return the data only for instruments that have a record in Asset Classification.
        required: false
        schema:
          type: array
          items:
            type: string
          uniqueItems: true
      - name: industryCodes
        in: query
        description: Filter out the results based on instrument industry codes from Asset Classification. Will return the results only for instruments that have a record in Asset Classification.
        required: false
        schema:
          type: array
          items:
            type: string
          uniqueItems: true
      - name: mics
        in: query
        description: Filter out the results based on instrument mic (Market Identifier Code) codes from Instrument Reference.
        required: false
        schema:
          type: array
          items:
            type: string
          uniqueItems: true
      - name: symbols
        in: query
        description: Filter out the results based on symbols.
        required: false
        schema:
          type: array
          items:
            type: string
          uniqueItems: true
      - name: sources
        in: query
        description: Filter out the results based on available data providers. Skipping this parameter will return an empty response unless you are using the <b>BLENDED</b> source.
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - MORNINGSTAR
            - EDI
            - MSWEB
            - VERDA
            - DXFINA
            - DXFEED
            - TEW
            - CMC
          uniqueItems: true
      responses:
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
        '406':
          description: Not Acceptable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Map'
    post:
      tags:
      - history-controller
      operationId: postByFilter_2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TypeHistoryFilterParams'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
        '406':
          description: Not Acceptable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Map'
  /v0.1/history/types:
    get:
      tags:
      - history-controller
      operationId: getTypes_2
      responses:
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
        '406':
          description: Not Acceptable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
components:
  schemas:
    FundamentalIdentityObject:
      type: object
      discriminator:
        propertyName: name
      properties:
        dxSymbol:
          type: string
        source:
          type: string
          enum:
          - MORNINGSTAR
          - EDI
          - MSWEB
          - VERDA
          - DXFINA
          - DXFEED
          - TEW
          - CMC
        disabled:
          type: boolean
        eventTime:
          type: integer
          format: int64
        sid:
          type: string
        ext: {}
        id:
          type: integer
          format: int64
        extHash:
          type: string
          format: uuid
        name:
          type: string
      required:
      - name
    TypeHistoryFilterParams:
      type: object
      properties:
        mics:
          type: array
          items:
            type: string
          uniqueItems: true
        symbols:
          type: array
          items:
            type: string
          uniqueItems: true
        sources:
          type: array
          items:
            type: string
            enum:
            - MORNINGSTAR
            - EDI
            - MSWEB
            - VERDA
            - DXFINA
            - DXFEED
            - TEW
            - CMC
          uniqueItems: true
        currencyCode:
          type: string
        countryCode:
          type: string
        sids:
          type: array
          items:
            type: string
          uniqueItems: true
        cids:
          type: array
          items:
            type: string
          uniqueItems: true
        sicCodes:
          type: array
          items:
            type: string
          uniqueItems: true
        industryCodes:
          type: array
          items:
            type: string
          uniqueItems: true
        fromYmd:
          type: string
          description: request from date in yyyymmdd format, inclusive
        toYmd:
          type: string
          description: request to date in yyyymmdd format, inclusive
        types:
          type: array
          items:
            type: string
          uniqueItems: true
        requestType:
          type: string
          enum:
          - SNAPSHOT
          - HISTORY
          - EMPTY
          - RECENT
          readOnly: true
    Map:
      type: object
      additionalProperties:
        type: array
        items:
          $ref: '#/components/schemas/FundamentalIdentityObject'
    ApiError:
      type: object
      properties:
        httpStatus:
          type: string
          enum:
          - 100 CONTINUE
          - 101 SWITCHING_PROTOCOLS
          - 102 PROCESSING
          - 103 EARLY_HINTS
          - 103 CHECKPOINT
          - 200 OK
          - 201 CREATED
          - 202 ACCEPTED
          - 203 NON_AUTHORITATIVE_INFORMATION
          - 204 NO_CONTENT
          - 205 RESET_CONTENT
          - 206 PARTIAL_CONTENT
          - 207 MULTI_STATUS
          - 208 ALREADY_REPORTED
          - 226 IM_USED
          - 300 MULTIPLE_CHOICES
          - 301 MOVED_PERMANENTLY
          - 302 FOUND
          - 302 MOVED_TEMPORARILY
          - 303 SEE_OTHER
          - 304 NOT_MODIFIED
          - 305 USE_PROXY
          - 307 TEMPORARY_REDIRECT
          - 308 PERMANENT_REDIRECT
          - 400 BAD_REQUEST
          - 401 UNAUTHORIZED
          - 402 PAYMENT_REQUIRED
          - 403 FORBIDDEN
          - 404 NOT_FOUND
          - 405 METHOD_NOT_ALLOWED
          - 406 NOT_ACCEPTABLE
          - 407 PROXY_AUTHENTICATION_REQUIRED
          - 408 REQUEST_TIMEOUT
          - 409 CONFLICT
          - 410 GONE
          - 411 LENGTH_REQUIRED
          - 412 PRECONDITION_FAILED
          - 413 PAYLOAD_TOO_LARGE
          - 413 REQUEST_ENTITY_TOO_LARGE
          - 414 URI_TOO_LONG
          - 414 REQUEST_URI_TOO_LONG
          - 415 UNSUPPORTED_MEDIA_TYPE
          - 416 REQUESTED_RANGE_NOT_SATISFIABLE
          - 417 EXPECTATION_FAILED
          - 418 I_AM_A_TEAPOT
          - 419 INSUFFICIENT_SPACE_ON_RESOURCE
          - 420 METHOD_FAILURE
          - 421 DESTINATION_LOCKED
          - 422 UNPROCESSABLE_ENTITY
          - 423 LOCKED
          - 424 FAILED_DEPENDENCY
          - 425 TOO_EARLY
          - 426 UPGRADE_REQUIRED
          - 428 PRECONDITION_REQUIRED
          - 429 TOO_MANY_REQUESTS
          - 431 REQUEST_HEADER_FIELDS_TOO_LARGE
          - 451 UNAVAILABLE_FOR_LEGAL_REASONS
          - 500 INTERNAL_SERVER_ERROR
          - 501 NOT_IMPLEMENTED
          - 502 BAD_GATEWAY
          - 503 SERVICE_UNAVAILABLE
          - 504 GATEWAY_TIMEOUT
          - 505 HTTP_VERSION_NOT_SUPPORTED
          - 506 VARIANT_ALSO_NEGOTIATES
          - 507 INSUFFICIENT_STORAGE
          - 508 LOOP_DETECTED
          - 509 BANDWIDTH_LIMIT_EXCEEDED
          - 510 NOT_EXTENDED
          - 511 NETWORK_AUTHENTICATION_REQUIRED
        timestamp:
          type: string
        messages:
          type: array
          items:
            type: string
        exMessage:
          type: string
