{"openapi":"3.1.0","info":{"title":"dxFeed Fundamentals API","description":"* [dxFeed Website](https://www.dxfeed.com/)\n* [Knowledge Base: Fundamentals](https://kb.dxfeed.com/en/data/fundamentals.html)\n* [Customer Ticket Portal](https://portal.dxfeed.com/)\n* [Contact the dxFeed sales team](https://dxfeed.com/contact-sales/)\n"},"servers":[{"url":"https://tools.dxfeed.com/fs","description":"Generated server url"}],"paths":{"/v0.1/valuation-ratio":{"post":{"tags":["valuation-ratio-controller"],"operationId":"addManualCorrection","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ValuationRatio"}}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ValuationRatio"}}}}}}},"delete":{"tags":["valuation-ratio-controller"],"operationId":"addManualRemove","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ValuationRatio"}}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ValuationRatio"}}}}}}}},"/v0.1/valuation-ratio/recent/snapshot":{"get":{"tags":["valuation-ratio-controller"],"operationId":"getRecentSnapshot","parameters":[{"name":"symbols","in":"query","description":"Filter out the results based on symbols.","required":true,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"countryCodes","in":"query","description":"Filter out the results based on country codes from Instrument Reference. ISO three-character code.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"mics","in":"query","description":"Filter out the results based on instrument mic (Market Identifier Code) codes from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"sources","in":"query","description":"Filter out the results based on available data providers. Skipping this parameter will return an empty response unless you are using the <b>BLENDED</b> source.","required":false,"schema":{"type":"array","items":{"type":"string","enum":["MORNINGSTAR","EDI","MSWEB","VERDA","DXFINA","DXFEED","TEW","CMC"]},"uniqueItems":true}},{"name":"Accept-Encoding","in":"header","description":"Requests to /recent paths must use Accept-Encoding gzip compression","required":true,"schema":{"enum":["gzip"]}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Map"}}}}}},"post":{"tags":["valuation-ratio-controller"],"operationId":"postRecentSnapshot","parameters":[{"name":"Accept-Encoding","in":"header","description":"Requests to /recent paths must use Accept-Encoding gzip compression","required":true,"schema":{"enum":["gzip"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecentSnapshotFilterParam"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Map"}}}}}}},"/v0.1/valuation-ratio/filter":{"get":{"tags":["valuation-ratio-controller"],"operationId":"getDeepFilter","parameters":[{"name":"fromYmd","in":"query","description":"Filter out the results based on from-to period. Start date of the period in yyyymmdd format. Note that max allowed time period is usually limited, depending on your permissions.","required":true,"schema":{"type":"string","description":"request from date in yyyymmdd format, inclusive"}},{"name":"toYmd","in":"query","description":"Filter out the results based on from-to period. End date of the period in yyyymmdd format. Note that max allowed time period is usually limited, depending on your permissions.","required":true,"schema":{"type":"string","description":"request to date in yyyymmdd format, inclusive"}},{"name":"currencyCode","in":"query","description":"Filter out the results based on currency codes from Instrument Reference. ISO three-character code.","required":false,"schema":{"type":"string"}},{"name":"countryCode","in":"query","description":"Filter out the results based on country codes from Instrument Reference. ISO three-character code.","required":false,"schema":{"type":"string"}},{"name":"sids","in":"query","description":"Filter out the results based on instrument security ids from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"cids","in":"query","description":"Filter out the results based on company ids from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"sicCodes","in":"query","description":"Filter out the results based on sic (Standard Industrial Classification) codes from Asset Classification. Will return the data only for instruments that have a record in Asset Classification.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"industryCodes","in":"query","description":"Filter out the results based on instrument industry codes from Asset Classification. Will return the results only for instruments that have a record in Asset Classification.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"mics","in":"query","description":"Filter out the results based on instrument mic (Market Identifier Code) codes from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"symbols","in":"query","description":"Filter out the results based on symbols.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"sources","in":"query","description":"Filter out the results based on available data providers. Skipping this parameter will return an empty response unless you are using the <b>BLENDED</b> source.","required":false,"schema":{"type":"array","items":{"type":"string","enum":["MORNINGSTAR","EDI","MSWEB","VERDA","DXFINA","DXFEED","TEW","CMC"]},"uniqueItems":true}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ValuationRatio"}}}}}}},"post":{"tags":["valuation-ratio-controller"],"operationId":"postDeepFilter","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HistoryFilterParams"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ValuationRatio"}}}}}}}},"/v0.1/symbol-state-change/filter":{"get":{"tags":["symbol-state-change-controller"],"operationId":"getByFilter","parameters":[{"name":"types","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"fromYmd","in":"query","description":"Filter out the results based on from-to period. Start date of the period in yyyymmdd format. Note that max allowed time period is usually limited, depending on your permissions.","required":true,"schema":{"type":"string","description":"request from date in yyyymmdd format, inclusive"}},{"name":"toYmd","in":"query","description":"Filter out the results based on from-to period. End date of the period in yyyymmdd format. Note that max allowed time period is usually limited, depending on your permissions.","required":true,"schema":{"type":"string","description":"request to date in yyyymmdd format, inclusive"}},{"name":"currencyCode","in":"query","description":"Filter out the results based on currency codes from Instrument Reference. ISO three-character code.","required":false,"schema":{"type":"string"}},{"name":"countryCode","in":"query","description":"Filter out the results based on country codes from Instrument Reference. ISO three-character code.","required":false,"schema":{"type":"string"}},{"name":"sids","in":"query","description":"Filter out the results based on instrument security ids from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"cids","in":"query","description":"Filter out the results based on company ids from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"sicCodes","in":"query","description":"Filter out the results based on sic (Standard Industrial Classification) codes from Asset Classification. Will return the data only for instruments that have a record in Asset Classification.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"industryCodes","in":"query","description":"Filter out the results based on instrument industry codes from Asset Classification. Will return the results only for instruments that have a record in Asset Classification.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"mics","in":"query","description":"Filter out the results based on instrument mic (Market Identifier Code) codes from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"symbols","in":"query","description":"Filter out the results based on symbols.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"sources","in":"query","description":"Filter out the results based on available data providers. Skipping this parameter will return an empty response unless you are using the <b>BLENDED</b> source.","required":false,"schema":{"type":"array","items":{"type":"string","enum":["MORNINGSTAR","EDI","MSWEB","VERDA","DXFINA","DXFEED","TEW","CMC"]},"uniqueItems":true}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"example":{"symbolsByYmd":{"20230928":["SYMBOL1","SYMBOL2"],"20230929":["SYMBOL1","SYMBOL2"]},"bySymbol":{"SYMBOL1":[{"name":"CorporateAction","eventTime":1682119990893,"dxSymbol":"SYMBOL1","source":"BLENDED","disabled":false,"ext":{"name":"CorporateAction$ExtStock","splitFrom":5,"splitTo":1},"sid":"0P0001AAA6","type":"STOCK_SPLIT","subType":"SS","exYmd":20230928,"adjustmentValue":0.2,"srcId":""}],"SYMBOL2":[{"name":"CorporateAction","eventTime":1683762296449,"dxSymbol":"SYMBOL2","source":"BLENDED","disabled":false,"ext":{"name":"CorporateAction$ExtStock","splitFrom":1,"splitTo":2},"sid":"0P0001BAA6","type":"STOCK_SPLIT","subType":"SS","exYmd":20230928,"adjustmentValue":2,"srcId":""}]}}}}}}},"post":{"tags":["symbol-state-change-controller"],"operationId":"postByFilter","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TypeSymbolStateChangeFilterParams"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"example":{"symbolsByYmd":{"20230928":["SYMBOL1","SYMBOL2"],"20230929":["SYMBOL1","SYMBOL2"]},"bySymbol":{"SYMBOL1":[{"name":"CorporateAction","eventTime":1682119990893,"dxSymbol":"SYMBOL1","source":"BLENDED","disabled":false,"ext":{"name":"CorporateAction$ExtStock","splitFrom":5,"splitTo":1},"sid":"0P0001AAA6","type":"STOCK_SPLIT","subType":"SS","exYmd":20230928,"adjustmentValue":0.2,"srcId":""}],"SYMBOL2":[{"name":"CorporateAction","eventTime":1683762296449,"dxSymbol":"SYMBOL2","source":"BLENDED","disabled":false,"ext":{"name":"CorporateAction$ExtStock","splitFrom":1,"splitTo":2},"sid":"0P0001BAA6","type":"STOCK_SPLIT","subType":"SS","exYmd":20230928,"adjustmentValue":2,"srcId":""}]}}}}}}}},"/v0.1/snapshot/filter":{"get":{"tags":["snapshot-controller"],"operationId":"getByFilter_1","parameters":[{"name":"types","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"currencyCode","in":"query","description":"Filter out the results based on currency codes from Instrument Reference. ISO three-character code.","required":false,"schema":{"type":"string"}},{"name":"countryCode","in":"query","description":"Filter out the results based on country codes from Instrument Reference. ISO three-character code.","required":false,"schema":{"type":"string"}},{"name":"sids","in":"query","description":"Filter out the results based on instrument security ids from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"cids","in":"query","description":"Filter out the results based on company ids from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"sicCodes","in":"query","description":"Filter out the results based on sic (Standard Industrial Classification) codes from Asset Classification. Will return the data only for instruments that have a record in Asset Classification.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"industryCodes","in":"query","description":"Filter out the results based on instrument industry codes from Asset Classification. Will return the results only for instruments that have a record in Asset Classification.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"mics","in":"query","description":"Filter out the results based on instrument mic (Market Identifier Code) codes from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"symbols","in":"query","description":"Filter out the results based on symbols.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"sources","in":"query","description":"Filter out the results based on available data providers. Skipping this parameter will return an empty response unless you are using the <b>BLENDED</b> source.","required":false,"schema":{"type":"array","items":{"type":"string","enum":["MORNINGSTAR","EDI","MSWEB","VERDA","DXFINA","DXFEED","TEW","CMC"]},"uniqueItems":true}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Map"}}}}}},"post":{"tags":["snapshot-controller"],"operationId":"postByFilter_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SnapshotFilterParams"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Map"}}}}}}},"/v0.1/shares-ownership-summary":{"post":{"tags":["shares-ownership-summary-controller"],"operationId":"addManualCorrection_1","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SharesOwnershipSummary"}}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SharesOwnershipSummary"}}}}}}},"delete":{"tags":["shares-ownership-summary-controller"],"operationId":"addManualRemove_1","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SharesOwnershipSummary"}}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SharesOwnershipSummary"}}}}}}}},"/v0.1/shares-ownership-summary/recent/snapshot":{"get":{"tags":["shares-ownership-summary-controller"],"operationId":"getRecentSnapshot_1","parameters":[{"name":"symbols","in":"query","description":"Filter out the results based on symbols.","required":true,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"countryCodes","in":"query","description":"Filter out the results based on country codes from Instrument Reference. ISO three-character code.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"mics","in":"query","description":"Filter out the results based on instrument mic (Market Identifier Code) codes from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"sources","in":"query","description":"Filter out the results based on available data providers. Skipping this parameter will return an empty response unless you are using the <b>BLENDED</b> source.","required":false,"schema":{"type":"array","items":{"type":"string","enum":["MORNINGSTAR","EDI","MSWEB","VERDA","DXFINA","DXFEED","TEW","CMC"]},"uniqueItems":true}},{"name":"Accept-Encoding","in":"header","description":"Requests to /recent paths must use Accept-Encoding gzip compression","required":true,"schema":{"enum":["gzip"]}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Map"}}}}}},"post":{"tags":["shares-ownership-summary-controller"],"operationId":"postRecentSnapshot_1","parameters":[{"name":"Accept-Encoding","in":"header","description":"Requests to /recent paths must use Accept-Encoding gzip compression","required":true,"schema":{"enum":["gzip"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecentSnapshotFilterParam"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Map"}}}}}}},"/v0.1/shares-ownership-summary/filter":{"get":{"tags":["shares-ownership-summary-controller"],"operationId":"getDeepFilter_1","parameters":[{"name":"fromYmd","in":"query","description":"Filter out the results based on from-to period. Start date of the period in yyyymmdd format. Note that max allowed time period is usually limited, depending on your permissions.","required":true,"schema":{"type":"string","description":"request from date in yyyymmdd format, inclusive"}},{"name":"toYmd","in":"query","description":"Filter out the results based on from-to period. End date of the period in yyyymmdd format. Note that max allowed time period is usually limited, depending on your permissions.","required":true,"schema":{"type":"string","description":"request to date in yyyymmdd format, inclusive"}},{"name":"currencyCode","in":"query","description":"Filter out the results based on currency codes from Instrument Reference. ISO three-character code.","required":false,"schema":{"type":"string"}},{"name":"countryCode","in":"query","description":"Filter out the results based on country codes from Instrument Reference. ISO three-character code.","required":false,"schema":{"type":"string"}},{"name":"sids","in":"query","description":"Filter out the results based on instrument security ids from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"cids","in":"query","description":"Filter out the results based on company ids from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"sicCodes","in":"query","description":"Filter out the results based on sic (Standard Industrial Classification) codes from Asset Classification. Will return the data only for instruments that have a record in Asset Classification.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"industryCodes","in":"query","description":"Filter out the results based on instrument industry codes from Asset Classification. Will return the results only for instruments that have a record in Asset Classification.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"mics","in":"query","description":"Filter out the results based on instrument mic (Market Identifier Code) codes from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"symbols","in":"query","description":"Filter out the results based on symbols.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"sources","in":"query","description":"Filter out the results based on available data providers. Skipping this parameter will return an empty response unless you are using the <b>BLENDED</b> source.","required":false,"schema":{"type":"array","items":{"type":"string","enum":["MORNINGSTAR","EDI","MSWEB","VERDA","DXFINA","DXFEED","TEW","CMC"]},"uniqueItems":true}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SharesOwnershipSummary"}}}}}}},"post":{"tags":["shares-ownership-summary-controller"],"operationId":"postDeepFilter_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HistoryFilterParams"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SharesOwnershipSummary"}}}}}}}},"/v0.1/reference-change":{"post":{"tags":["reference-change-controller"],"operationId":"addManualCorrection_2","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReferenceChange"}}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReferenceChange"}}}}}}},"delete":{"tags":["reference-change-controller"],"operationId":"addManualRemove_2","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReferenceChange"}}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReferenceChange"}}}}}}}},"/v0.1/reference-change/recent/snapshot":{"get":{"tags":["reference-change-controller"],"operationId":"getRecentSnapshot_2","parameters":[{"name":"symbols","in":"query","description":"Filter out the results based on symbols.","required":true,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"countryCodes","in":"query","description":"Filter out the results based on country codes from Instrument Reference. ISO three-character code.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"mics","in":"query","description":"Filter out the results based on instrument mic (Market Identifier Code) codes from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"sources","in":"query","description":"Filter out the results based on available data providers. Skipping this parameter will return an empty response unless you are using the <b>BLENDED</b> source.","required":false,"schema":{"type":"array","items":{"type":"string","enum":["MORNINGSTAR","EDI","MSWEB","VERDA","DXFINA","DXFEED","TEW","CMC"]},"uniqueItems":true}},{"name":"Accept-Encoding","in":"header","description":"Requests to /recent paths must use Accept-Encoding gzip compression","required":true,"schema":{"enum":["gzip"]}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Map"}}}}}},"post":{"tags":["reference-change-controller"],"operationId":"postRecentSnapshot_2","parameters":[{"name":"Accept-Encoding","in":"header","description":"Requests to /recent paths must use Accept-Encoding gzip compression","required":true,"schema":{"enum":["gzip"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecentSnapshotFilterParam"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Map"}}}}}}},"/v0.1/reference-change/recent/calendar":{"get":{"tags":["reference-change-controller"],"operationId":"getRecentCalendar","parameters":[{"name":"fromYmd","in":"query","description":"Filter out the results based on from-to period. Start date of the period in yyyymmdd format. Note that max allowed time period is usually limited, depending on your permissions.","required":true,"schema":{"type":"string","description":"request from date in yyyymmdd format, inclusive"}},{"name":"toYmd","in":"query","description":"Filter out the results based on from-to period. End date of the period in yyyymmdd format. Note that max allowed time period is usually limited, depending on your permissions.","required":true,"schema":{"type":"string","description":"request to date in yyyymmdd format, inclusive"}},{"name":"countryCodes","in":"query","description":"Filter out the results based on country codes from Instrument Reference. ISO three-character code.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"mics","in":"query","description":"Filter out the results based on instrument mic (Market Identifier Code) codes from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"symbols","in":"query","description":"Filter out the results based on symbols.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"sources","in":"query","description":"Filter out the results based on available data providers. Skipping this parameter will return an empty response unless you are using the <b>BLENDED</b> source.","required":false,"schema":{"type":"array","items":{"type":"string","enum":["MORNINGSTAR","EDI","MSWEB","VERDA","DXFINA","DXFEED","TEW","CMC"]},"uniqueItems":true}},{"name":"Accept-Encoding","in":"header","description":"Requests to /recent paths must use Accept-Encoding gzip compression","required":true,"schema":{"enum":["gzip"]}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReferenceChange"}}}}}}},"post":{"tags":["reference-change-controller"],"operationId":"postRecentCalendar","parameters":[{"name":"Accept-Encoding","in":"header","description":"Requests to /recent paths must use Accept-Encoding gzip compression","required":true,"schema":{"enum":["gzip"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecentHistoryFilterParams"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReferenceChange"}}}}}}}},"/v0.1/reference-change/filter":{"get":{"tags":["reference-change-controller"],"operationId":"getDeepFilter_2","parameters":[{"name":"fromYmd","in":"query","description":"Filter out the results based on from-to period. Start date of the period in yyyymmdd format. Note that max allowed time period is usually limited, depending on your permissions.","required":true,"schema":{"type":"string","description":"request from date in yyyymmdd format, inclusive"}},{"name":"toYmd","in":"query","description":"Filter out the results based on from-to period. End date of the period in yyyymmdd format. Note that max allowed time period is usually limited, depending on your permissions.","required":true,"schema":{"type":"string","description":"request to date in yyyymmdd format, inclusive"}},{"name":"currencyCode","in":"query","description":"Filter out the results based on currency codes from Instrument Reference. ISO three-character code.","required":false,"schema":{"type":"string"}},{"name":"countryCode","in":"query","description":"Filter out the results based on country codes from Instrument Reference. ISO three-character code.","required":false,"schema":{"type":"string"}},{"name":"sids","in":"query","description":"Filter out the results based on instrument security ids from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"cids","in":"query","description":"Filter out the results based on company ids from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"sicCodes","in":"query","description":"Filter out the results based on sic (Standard Industrial Classification) codes from Asset Classification. Will return the data only for instruments that have a record in Asset Classification.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"industryCodes","in":"query","description":"Filter out the results based on instrument industry codes from Asset Classification. Will return the results only for instruments that have a record in Asset Classification.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"mics","in":"query","description":"Filter out the results based on instrument mic (Market Identifier Code) codes from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"symbols","in":"query","description":"Filter out the results based on symbols.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"sources","in":"query","description":"Filter out the results based on available data providers. Skipping this parameter will return an empty response unless you are using the <b>BLENDED</b> source.","required":false,"schema":{"type":"array","items":{"type":"string","enum":["MORNINGSTAR","EDI","MSWEB","VERDA","DXFINA","DXFEED","TEW","CMC"]},"uniqueItems":true}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReferenceChange"}}}}}}},"post":{"tags":["reference-change-controller"],"operationId":"postDeepFilter_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HistoryFilterParams"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReferenceChange"}}}}}}}},"/v0.1/price":{"post":{"tags":["price-controller"],"operationId":"addManualCorrection_3","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Price"}}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Price"}}}}}}},"delete":{"tags":["price-controller"],"operationId":"addManualRemove_3","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Price"}}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Price"}}}}}}}},"/v0.1/price/recent/snapshot":{"get":{"tags":["price-controller"],"operationId":"getRecentSnapshot_3","parameters":[{"name":"symbols","in":"query","description":"Filter out the results based on symbols.","required":true,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"countryCodes","in":"query","description":"Filter out the results based on country codes from Instrument Reference. ISO three-character code.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"mics","in":"query","description":"Filter out the results based on instrument mic (Market Identifier Code) codes from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"sources","in":"query","description":"Filter out the results based on available data providers. Skipping this parameter will return an empty response unless you are using the <b>BLENDED</b> source.","required":false,"schema":{"type":"array","items":{"type":"string","enum":["MORNINGSTAR","EDI","MSWEB","VERDA","DXFINA","DXFEED","TEW","CMC"]},"uniqueItems":true}},{"name":"Accept-Encoding","in":"header","description":"Requests to /recent paths must use Accept-Encoding gzip compression","required":true,"schema":{"enum":["gzip"]}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Map"}}}}}},"post":{"tags":["price-controller"],"operationId":"postRecentSnapshot_3","parameters":[{"name":"Accept-Encoding","in":"header","description":"Requests to /recent paths must use Accept-Encoding gzip compression","required":true,"schema":{"enum":["gzip"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecentSnapshotFilterParam"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Map"}}}}}}},"/v0.1/price/filter":{"get":{"tags":["price-controller"],"operationId":"getDeepFilter_3","parameters":[{"name":"fromYmd","in":"query","description":"Filter out the results based on from-to period. Start date of the period in yyyymmdd format. Note that max allowed time period is usually limited, depending on your permissions.","required":true,"schema":{"type":"string","description":"request from date in yyyymmdd format, inclusive"}},{"name":"toYmd","in":"query","description":"Filter out the results based on from-to period. End date of the period in yyyymmdd format. Note that max allowed time period is usually limited, depending on your permissions.","required":true,"schema":{"type":"string","description":"request to date in yyyymmdd format, inclusive"}},{"name":"currencyCode","in":"query","description":"Filter out the results based on currency codes from Instrument Reference. ISO three-character code.","required":false,"schema":{"type":"string"}},{"name":"countryCode","in":"query","description":"Filter out the results based on country codes from Instrument Reference. ISO three-character code.","required":false,"schema":{"type":"string"}},{"name":"sids","in":"query","description":"Filter out the results based on instrument security ids from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"cids","in":"query","description":"Filter out the results based on company ids from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"sicCodes","in":"query","description":"Filter out the results based on sic (Standard Industrial Classification) codes from Asset Classification. Will return the data only for instruments that have a record in Asset Classification.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"industryCodes","in":"query","description":"Filter out the results based on instrument industry codes from Asset Classification. Will return the results only for instruments that have a record in Asset Classification.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"mics","in":"query","description":"Filter out the results based on instrument mic (Market Identifier Code) codes from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"symbols","in":"query","description":"Filter out the results based on symbols.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"sources","in":"query","description":"Filter out the results based on available data providers. Skipping this parameter will return an empty response unless you are using the <b>BLENDED</b> source.","required":false,"schema":{"type":"array","items":{"type":"string","enum":["MORNINGSTAR","EDI","MSWEB","VERDA","DXFINA","DXFEED","TEW","CMC"]},"uniqueItems":true}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Price"}}}}}}},"post":{"tags":["price-controller"],"operationId":"postDeepFilter_3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HistoryFilterParams"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Price"}}}}}}}},"/v0.1/operation-ratio":{"post":{"tags":["operation-ratio-controller"],"operationId":"addManualCorrection_4","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OperationRatio"}}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OperationRatio"}}}}}}},"delete":{"tags":["operation-ratio-controller"],"operationId":"addManualRemove_4","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OperationRatio"}}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OperationRatio"}}}}}}}},"/v0.1/operation-ratio/recent/snapshot":{"get":{"tags":["operation-ratio-controller"],"operationId":"getRecentSnapshot_4","parameters":[{"name":"symbols","in":"query","description":"Filter out the results based on symbols.","required":true,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"countryCodes","in":"query","description":"Filter out the results based on country codes from Instrument Reference. ISO three-character code.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"mics","in":"query","description":"Filter out the results based on instrument mic (Market Identifier Code) codes from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"sources","in":"query","description":"Filter out the results based on available data providers. Skipping this parameter will return an empty response unless you are using the <b>BLENDED</b> source.","required":false,"schema":{"type":"array","items":{"type":"string","enum":["MORNINGSTAR","EDI","MSWEB","VERDA","DXFINA","DXFEED","TEW","CMC"]},"uniqueItems":true}},{"name":"Accept-Encoding","in":"header","description":"Requests to /recent paths must use Accept-Encoding gzip compression","required":true,"schema":{"enum":["gzip"]}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Map"}}}}}},"post":{"tags":["operation-ratio-controller"],"operationId":"postRecentSnapshot_4","parameters":[{"name":"Accept-Encoding","in":"header","description":"Requests to /recent paths must use Accept-Encoding gzip compression","required":true,"schema":{"enum":["gzip"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecentSnapshotFilterParam"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Map"}}}}}}},"/v0.1/operation-ratio/filter":{"get":{"tags":["operation-ratio-controller"],"operationId":"getDeepFilter_4","parameters":[{"name":"period","in":"query","description":"Filter out the results based on a reference period of the report or ratio (12M, 3M etc). Available values may vary per endpoint. ","required":false,"schema":{"type":"string"}},{"name":"fromYmd","in":"query","description":"Filter out the results based on from-to period. Start date of the period in yyyymmdd format. Note that max allowed time period is usually limited, depending on your permissions.","required":true,"schema":{"type":"string","description":"request from date in yyyymmdd format, inclusive"}},{"name":"toYmd","in":"query","description":"Filter out the results based on from-to period. End date of the period in yyyymmdd format. Note that max allowed time period is usually limited, depending on your permissions.","required":true,"schema":{"type":"string","description":"request to date in yyyymmdd format, inclusive"}},{"name":"currencyCode","in":"query","description":"Filter out the results based on currency codes from Instrument Reference. ISO three-character code.","required":false,"schema":{"type":"string"}},{"name":"countryCode","in":"query","description":"Filter out the results based on country codes from Instrument Reference. ISO three-character code.","required":false,"schema":{"type":"string"}},{"name":"sids","in":"query","description":"Filter out the results based on instrument security ids from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"cids","in":"query","description":"Filter out the results based on company ids from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"sicCodes","in":"query","description":"Filter out the results based on sic (Standard Industrial Classification) codes from Asset Classification. Will return the data only for instruments that have a record in Asset Classification.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"industryCodes","in":"query","description":"Filter out the results based on instrument industry codes from Asset Classification. Will return the results only for instruments that have a record in Asset Classification.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"mics","in":"query","description":"Filter out the results based on instrument mic (Market Identifier Code) codes from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"symbols","in":"query","description":"Filter out the results based on symbols.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"sources","in":"query","description":"Filter out the results based on available data providers. Skipping this parameter will return an empty response unless you are using the <b>BLENDED</b> source.","required":false,"schema":{"type":"array","items":{"type":"string","enum":["MORNINGSTAR","EDI","MSWEB","VERDA","DXFINA","DXFEED","TEW","CMC"]},"uniqueItems":true}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OperationRatio"}}}}}}},"post":{"tags":["operation-ratio-controller"],"operationId":"postDeepFilter_4","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PeriodicHistoryFilterParams"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OperationRatio"}}}}}}}},"/v0.1/mutual-fund-ownership-summary":{"post":{"tags":["mutual-fund-ownership-summary-controller"],"operationId":"addManualCorrection_5","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MutualFundOwnershipSummary"}}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MutualFundOwnershipSummary"}}}}}}},"delete":{"tags":["mutual-fund-ownership-summary-controller"],"operationId":"addManualRemove_5","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MutualFundOwnershipSummary"}}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MutualFundOwnershipSummary"}}}}}}}},"/v0.1/mutual-fund-ownership-summary/recent/snapshot":{"get":{"tags":["mutual-fund-ownership-summary-controller"],"operationId":"getRecentSnapshot_5","parameters":[{"name":"symbols","in":"query","description":"Filter out the results based on symbols.","required":true,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"countryCodes","in":"query","description":"Filter out the results based on country codes from Instrument Reference. ISO three-character code.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"mics","in":"query","description":"Filter out the results based on instrument mic (Market Identifier Code) codes from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"sources","in":"query","description":"Filter out the results based on available data providers. Skipping this parameter will return an empty response unless you are using the <b>BLENDED</b> source.","required":false,"schema":{"type":"array","items":{"type":"string","enum":["MORNINGSTAR","EDI","MSWEB","VERDA","DXFINA","DXFEED","TEW","CMC"]},"uniqueItems":true}},{"name":"Accept-Encoding","in":"header","description":"Requests to /recent paths must use Accept-Encoding gzip compression","required":true,"schema":{"enum":["gzip"]}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Map"}}}}}},"post":{"tags":["mutual-fund-ownership-summary-controller"],"operationId":"postRecentSnapshot_5","parameters":[{"name":"Accept-Encoding","in":"header","description":"Requests to /recent paths must use Accept-Encoding gzip compression","required":true,"schema":{"enum":["gzip"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecentSnapshotFilterParam"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Map"}}}}}}},"/v0.1/mutual-fund-ownership-summary/filter":{"get":{"tags":["mutual-fund-ownership-summary-controller"],"operationId":"getDeepFilter_5","parameters":[{"name":"fromYmd","in":"query","description":"Filter out the results based on from-to period. Start date of the period in yyyymmdd format. Note that max allowed time period is usually limited, depending on your permissions.","required":true,"schema":{"type":"string","description":"request from date in yyyymmdd format, inclusive"}},{"name":"toYmd","in":"query","description":"Filter out the results based on from-to period. End date of the period in yyyymmdd format. Note that max allowed time period is usually limited, depending on your permissions.","required":true,"schema":{"type":"string","description":"request to date in yyyymmdd format, inclusive"}},{"name":"currencyCode","in":"query","description":"Filter out the results based on currency codes from Instrument Reference. ISO three-character code.","required":false,"schema":{"type":"string"}},{"name":"countryCode","in":"query","description":"Filter out the results based on country codes from Instrument Reference. ISO three-character code.","required":false,"schema":{"type":"string"}},{"name":"sids","in":"query","description":"Filter out the results based on instrument security ids from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"cids","in":"query","description":"Filter out the results based on company ids from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"sicCodes","in":"query","description":"Filter out the results based on sic (Standard Industrial Classification) codes from Asset Classification. Will return the data only for instruments that have a record in Asset Classification.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"industryCodes","in":"query","description":"Filter out the results based on instrument industry codes from Asset Classification. Will return the results only for instruments that have a record in Asset Classification.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"mics","in":"query","description":"Filter out the results based on instrument mic (Market Identifier Code) codes from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"symbols","in":"query","description":"Filter out the results based on symbols.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"sources","in":"query","description":"Filter out the results based on available data providers. Skipping this parameter will return an empty response unless you are using the <b>BLENDED</b> source.","required":false,"schema":{"type":"array","items":{"type":"string","enum":["MORNINGSTAR","EDI","MSWEB","VERDA","DXFINA","DXFEED","TEW","CMC"]},"uniqueItems":true}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MutualFundOwnershipSummary"}}}}}}},"post":{"tags":["mutual-fund-ownership-summary-controller"],"operationId":"postDeepFilter_5","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HistoryFilterParams"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MutualFundOwnershipSummary"}}}}}}}},"/v0.1/merger-and-acquisition":{"post":{"tags":["merger-and-acquisition-controller"],"operationId":"addManualCorrection_6","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MergerAndAcquisition"}}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MergerAndAcquisition"}}}}}}},"delete":{"tags":["merger-and-acquisition-controller"],"operationId":"addManualRemove_6","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MergerAndAcquisition"}}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MergerAndAcquisition"}}}}}}}},"/v0.1/merger-and-acquisition/recent/snapshot":{"get":{"tags":["merger-and-acquisition-controller"],"operationId":"getRecentSnapshot_6","parameters":[{"name":"symbols","in":"query","description":"Filter out the results based on symbols.","required":true,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"countryCodes","in":"query","description":"Filter out the results based on country codes from Instrument Reference. ISO three-character code.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"mics","in":"query","description":"Filter out the results based on instrument mic (Market Identifier Code) codes from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"sources","in":"query","description":"Filter out the results based on available data providers. Skipping this parameter will return an empty response unless you are using the <b>BLENDED</b> source.","required":false,"schema":{"type":"array","items":{"type":"string","enum":["MORNINGSTAR","EDI","MSWEB","VERDA","DXFINA","DXFEED","TEW","CMC"]},"uniqueItems":true}},{"name":"Accept-Encoding","in":"header","description":"Requests to /recent paths must use Accept-Encoding gzip compression","required":true,"schema":{"enum":["gzip"]}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Map"}}}}}},"post":{"tags":["merger-and-acquisition-controller"],"operationId":"postRecentSnapshot_6","parameters":[{"name":"Accept-Encoding","in":"header","description":"Requests to /recent paths must use Accept-Encoding gzip compression","required":true,"schema":{"enum":["gzip"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecentSnapshotFilterParam"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Map"}}}}}}},"/v0.1/merger-and-acquisition/recent/calendar":{"get":{"tags":["merger-and-acquisition-controller"],"operationId":"getRecentCalendar_1","parameters":[{"name":"fromYmd","in":"query","description":"Filter out the results based on from-to period. Start date of the period in yyyymmdd format. Note that max allowed time period is usually limited, depending on your permissions.","required":true,"schema":{"type":"string","description":"request from date in yyyymmdd format, inclusive"}},{"name":"toYmd","in":"query","description":"Filter out the results based on from-to period. End date of the period in yyyymmdd format. Note that max allowed time period is usually limited, depending on your permissions.","required":true,"schema":{"type":"string","description":"request to date in yyyymmdd format, inclusive"}},{"name":"countryCodes","in":"query","description":"Filter out the results based on country codes from Instrument Reference. ISO three-character code.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"mics","in":"query","description":"Filter out the results based on instrument mic (Market Identifier Code) codes from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"symbols","in":"query","description":"Filter out the results based on symbols.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"sources","in":"query","description":"Filter out the results based on available data providers. Skipping this parameter will return an empty response unless you are using the <b>BLENDED</b> source.","required":false,"schema":{"type":"array","items":{"type":"string","enum":["MORNINGSTAR","EDI","MSWEB","VERDA","DXFINA","DXFEED","TEW","CMC"]},"uniqueItems":true}},{"name":"Accept-Encoding","in":"header","description":"Requests to /recent paths must use Accept-Encoding gzip compression","required":true,"schema":{"enum":["gzip"]}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MergerAndAcquisition"}}}}}}},"post":{"tags":["merger-and-acquisition-controller"],"operationId":"postRecentCalendar_1","parameters":[{"name":"Accept-Encoding","in":"header","description":"Requests to /recent paths must use Accept-Encoding gzip compression","required":true,"schema":{"enum":["gzip"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecentHistoryFilterParams"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MergerAndAcquisition"}}}}}}}},"/v0.1/merger-and-acquisition/filter":{"get":{"tags":["merger-and-acquisition-controller"],"operationId":"getDeepFilter_6","parameters":[{"name":"fromYmd","in":"query","description":"Filter out the results based on from-to period. Start date of the period in yyyymmdd format. Note that max allowed time period is usually limited, depending on your permissions.","required":true,"schema":{"type":"string","description":"request from date in yyyymmdd format, inclusive"}},{"name":"toYmd","in":"query","description":"Filter out the results based on from-to period. End date of the period in yyyymmdd format. Note that max allowed time period is usually limited, depending on your permissions.","required":true,"schema":{"type":"string","description":"request to date in yyyymmdd format, inclusive"}},{"name":"currencyCode","in":"query","description":"Filter out the results based on currency codes from Instrument Reference. ISO three-character code.","required":false,"schema":{"type":"string"}},{"name":"countryCode","in":"query","description":"Filter out the results based on country codes from Instrument Reference. ISO three-character code.","required":false,"schema":{"type":"string"}},{"name":"sids","in":"query","description":"Filter out the results based on instrument security ids from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"cids","in":"query","description":"Filter out the results based on company ids from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"sicCodes","in":"query","description":"Filter out the results based on sic (Standard Industrial Classification) codes from Asset Classification. Will return the data only for instruments that have a record in Asset Classification.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"industryCodes","in":"query","description":"Filter out the results based on instrument industry codes from Asset Classification. Will return the results only for instruments that have a record in Asset Classification.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"mics","in":"query","description":"Filter out the results based on instrument mic (Market Identifier Code) codes from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"symbols","in":"query","description":"Filter out the results based on symbols.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"sources","in":"query","description":"Filter out the results based on available data providers. Skipping this parameter will return an empty response unless you are using the <b>BLENDED</b> source.","required":false,"schema":{"type":"array","items":{"type":"string","enum":["MORNINGSTAR","EDI","MSWEB","VERDA","DXFINA","DXFEED","TEW","CMC"]},"uniqueItems":true}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MergerAndAcquisition"}}}}}}},"post":{"tags":["merger-and-acquisition-controller"],"operationId":"postDeepFilter_6","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HistoryFilterParams"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MergerAndAcquisition"}}}}}}}},"/v0.1/ipo-calendar/recent/snapshot":{"get":{"tags":["ipo-calendar-controller"],"operationId":"getRecentSnapshot_7","parameters":[{"name":"symbols","in":"query","description":"Filter out the results based on symbols.","required":true,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"countryCodes","in":"query","description":"Filter out the results based on country codes from Instrument Reference. ISO three-character code.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"mics","in":"query","description":"Filter out the results based on instrument mic (Market Identifier Code) codes from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"sources","in":"query","description":"Filter out the results based on available data providers. Skipping this parameter will return an empty response unless you are using the <b>BLENDED</b> source.","required":false,"schema":{"type":"array","items":{"type":"string","enum":["MORNINGSTAR","EDI","MSWEB","VERDA","DXFINA","DXFEED","TEW","CMC"]},"uniqueItems":true}},{"name":"Accept-Encoding","in":"header","description":"Requests to /recent paths must use Accept-Encoding gzip compression","required":true,"schema":{"enum":["gzip"]}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Map"}}}}}},"post":{"tags":["ipo-calendar-controller"],"operationId":"postRecentSnapshot_7","parameters":[{"name":"Accept-Encoding","in":"header","description":"Requests to /recent paths must use Accept-Encoding gzip compression","required":true,"schema":{"enum":["gzip"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecentSnapshotFilterParam"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Map"}}}}}}},"/v0.1/ipo-calendar/recent/calendar":{"get":{"tags":["ipo-calendar-controller"],"operationId":"getRecentCalendar_2","parameters":[{"name":"fromYmd","in":"query","description":"Filter out the results based on from-to period. Start date of the period in yyyymmdd format. Note that max allowed time period is usually limited, depending on your permissions.","required":true,"schema":{"type":"string","description":"request from date in yyyymmdd format, inclusive"}},{"name":"toYmd","in":"query","description":"Filter out the results based on from-to period. End date of the period in yyyymmdd format. Note that max allowed time period is usually limited, depending on your permissions.","required":true,"schema":{"type":"string","description":"request to date in yyyymmdd format, inclusive"}},{"name":"countryCodes","in":"query","description":"Filter out the results based on country codes from Instrument Reference. ISO three-character code.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"mics","in":"query","description":"Filter out the results based on instrument mic (Market Identifier Code) codes from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"symbols","in":"query","description":"Filter out the results based on symbols.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"sources","in":"query","description":"Filter out the results based on available data providers. Skipping this parameter will return an empty response unless you are using the <b>BLENDED</b> source.","required":false,"schema":{"type":"array","items":{"type":"string","enum":["MORNINGSTAR","EDI","MSWEB","VERDA","DXFINA","DXFEED","TEW","CMC"]},"uniqueItems":true}},{"name":"Accept-Encoding","in":"header","description":"Requests to /recent paths must use Accept-Encoding gzip compression","required":true,"schema":{"enum":["gzip"]}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IpoCalendar"}}}}}}},"post":{"tags":["ipo-calendar-controller"],"operationId":"postRecentCalendar_2","parameters":[{"name":"Accept-Encoding","in":"header","description":"Requests to /recent paths must use Accept-Encoding gzip compression","required":true,"schema":{"enum":["gzip"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecentHistoryFilterParams"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IpoCalendar"}}}}}}}},"/v0.1/ipo-calendar/filter":{"get":{"tags":["ipo-calendar-controller"],"operationId":"getDeepFilter_7","parameters":[{"name":"fromYmd","in":"query","description":"Filter out the results based on from-to period. Start date of the period in yyyymmdd format. Note that max allowed time period is usually limited, depending on your permissions.","required":true,"schema":{"type":"string","description":"request from date in yyyymmdd format, inclusive"}},{"name":"toYmd","in":"query","description":"Filter out the results based on from-to period. End date of the period in yyyymmdd format. Note that max allowed time period is usually limited, depending on your permissions.","required":true,"schema":{"type":"string","description":"request to date in yyyymmdd format, inclusive"}},{"name":"currencyCode","in":"query","description":"Filter out the results based on currency codes from Instrument Reference. ISO three-character code.","required":false,"schema":{"type":"string"}},{"name":"countryCode","in":"query","description":"Filter out the results based on country codes from Instrument Reference. ISO three-character code.","required":false,"schema":{"type":"string"}},{"name":"sids","in":"query","description":"Filter out the results based on instrument security ids from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"cids","in":"query","description":"Filter out the results based on company ids from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"sicCodes","in":"query","description":"Filter out the results based on sic (Standard Industrial Classification) codes from Asset Classification. Will return the data only for instruments that have a record in Asset Classification.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"industryCodes","in":"query","description":"Filter out the results based on instrument industry codes from Asset Classification. Will return the results only for instruments that have a record in Asset Classification.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"mics","in":"query","description":"Filter out the results based on instrument mic (Market Identifier Code) codes from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"symbols","in":"query","description":"Filter out the results based on symbols.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"sources","in":"query","description":"Filter out the results based on available data providers. Skipping this parameter will return an empty response unless you are using the <b>BLENDED</b> source.","required":false,"schema":{"type":"array","items":{"type":"string","enum":["MORNINGSTAR","EDI","MSWEB","VERDA","DXFINA","DXFEED","TEW","CMC"]},"uniqueItems":true}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IpoCalendar"}}}}}}},"post":{"tags":["ipo-calendar-controller"],"operationId":"postDeepFilter_7","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HistoryFilterParams"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IpoCalendar"}}}}}}}},"/v0.1/instrument-reference":{"post":{"tags":["instrument-reference-controller"],"operationId":"addManualCorrection_7","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InstrumentReference"}}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InstrumentReference"}}}}}}},"delete":{"tags":["instrument-reference-controller"],"operationId":"addManualRemove_7","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InstrumentReference"}}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InstrumentReference"}}}}}}}},"/v0.1/instrument-reference/recent/snapshot":{"get":{"tags":["instrument-reference-controller"],"operationId":"getRecentSnapshot_8","parameters":[{"name":"symbols","in":"query","description":"Filter out the results based on symbols.","required":true,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"countryCodes","in":"query","description":"Filter out the results based on country codes from Instrument Reference. ISO three-character code.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"mics","in":"query","description":"Filter out the results based on instrument mic (Market Identifier Code) codes from Instrument Reference.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"sources","in":"query","description":"Filter out the results based on available data providers. Skipping this parameter will return an empty response unless you are using the <b>BLENDED</b> source.","required":false,"schema":{"type":"array","items":{"type":"string","enum":["MORNINGSTAR","EDI","MSWEB","VERDA","DXFINA","DXFEED","TEW","CMC"]},"uniqueItems":true}},{"name":"Accept-Encoding","in":"header","description":"Requests to /recent paths must use Accept-Encoding gzip compression","required":true,"schema":{"enum":["gzip"]}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/com
[...]
